@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
  --backgroundColor: #E4E3E3;
  --accentColor1: #A2DBFA;
  --accentColor: #84A9AC;
  --topicalColor: #3B6978;
  --overshadow: #204051;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Raleway', sans-serif; */
}

body {

}
